<!DOCTYPE html>
<html>
  <head>
    <title>PlaybookAssistant</title>
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>
    <meta name='viewport' content='width=device-width, maximum-scale=1.0, minimum-scale=0.5, user-scalable=no, initial-scale=1.0'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield(:app_bar) %>
    <%= yield(:javascript_pack_tag) %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="margin: 0">
    <div id="app_bar"></div>
    <div style="padding-top: 56px"></div>

    <%- if notice || alert %>
      <div class="container" style="padding-top: 16px;">
        <p class="notice" style="color: #00bfa5;"><%= notice %></p>
        <p class="alert" style="color: #f44336;"><%= alert %></p>
      </div>
    <%- end %>
    <%= yield %>
  </body>
</html>
