<!DOCTYPE html>
<html>
  <head>
    <title>週2筋トレ部</title>
    <%= Gon::Base.render_data %>
    <%= csrf_meta_tags %>
    <meta name='viewport' content='width=device-width, maximum-scale=1.0, minimum-scale=0.5, user-scalable=no, initial-scale=1.0'>
    <meta name="description" content="チャット形式で筋トレ記録をサポート") >
    <meta property="og:title" content="週２筋トレ部" />
    <meta property="og:url" content="https://<%= request.host %><%= request.fullpath %>" />
    <meta property="og:description" content="チャット形式で筋トレ記録をサポート" />
    <meta property="og:site_name"  content="週２筋トレ部" />
    <meta property="og:image" content="<%= image_path('top/top.png') %>" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="1000" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= yield(:app_bar) %>
    <%= yield(:javascript_pack_tag) %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style="margin: 0">
    <div id="app_bar"></div>
    <div style="padding-top: 56px"></div>

    <%- if notice || alert %>
      <div class="container" style="padding-top: 16px;">
        <p class="notice" style="color: #00bfa5;"><%= notice %></p>
        <p class="alert" style="color: #f44336;"><%= alert %></p>
      </div>
    <%- end %>
    <%= yield %>
  </body>
</html>
